.home {
  height: 80vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
    url("../../assets/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;

  .secContainer {
    .homeText {
      text-align: center;

      .title {
        color: var(--whiteColor);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
      }
      .subTitle {
        color: var(--whiteColor);
        opacity: 0.9;
        font-size: 13px;
        font-weight: 300;
        padding: 1rem 0;
        max-width: 70%;
        text-align: center;
        margin: auto;
      }
      .btn {
        padding: 0.6rem 1.5rem;

        &:hover{
          background: var(--HoverColor);
        }
      }
    }
    .homeCard {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-radius: 1rem;
      padding: 2rem;
      background: var(--whiteColor);
      position: absolute;
      gap: 2rem;
      justify-content: center;
      bottom: -10%;
      transform: translate(-50%);
      left: 50%;
      box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);

      .locationDiv,
      .distDiv,
      .priceDiv {
        width: 100%;

        label {
          display: block;
          color: var(--textColor);
          font-weight: 500;
          font-size: 13px;
          padding: 0.4rem 0;
        }
        input {
          width: 100%;
          background: var(--inputColor);
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 13px;
          font-weight: 500;

          &::placeholder {
            font-size: 13px;
            opacity: 0.5;
            font-weight: 400;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .btn {
        width: 100%;
        padding: 0.2rem 1.5rem;
        color: var(--whiteColor);
        font-weight: 600;
        height: 50px;
        transform: translateY(15px);

        &:hover{
          background: var(--HoverColor);
        }
      }
    }
  }
}



// MEDIA QUERIES==============>
@media screen and (min-width: 556px) {
  .home {
    .secContainer {
      .homeText {
        .title {
          font-size: 2.5rem;
        }
        .subTitle {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .home {
    .secContainer {
      .homeText {
        padding: 1rem 10rem;

        .title {
          font-size: 4rem;
          margin: auto;
          line-height: 4rem;
        }

        .subTitle {
          width: 100%;
        }
      }
    }
  }
}


@media screen and(max-width:(768px)) {
    .home {
      .secContainer {
        .homeCard {
          grid-template-columns: repeat(2, 1fr);
          padding: 1rem;
          gap: 1rem;
          bottom: -20%;
  
          .locationDiv,
          .distDiv,
          .priceDiv {
  
            label {
              padding: 0.2rem 0;
            }
          }
        }
      }
    }
  }
@media screen and(max-width:(468px)) {
  .home {
    .secContainer {
      .homeCard {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        bottom: -50%;

        .locationDiv,
        .distDiv,
        .priceDiv {

          label {
            padding: 0.2rem 0;
          }
        }
      }
    }
  }
}
@media screen and(max-width:(368px)) {
    .home {
      .secContainer {
        .homeCard {
          bottom: -50%;
        }
      }
    }
  }
