.popular {
  padding-top: 10rem;

  .secContainer {
    .secHeader {
      flex-direction: column;
      .secTitle {
        color: var(--blackColor);
        line-height: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
      p {
        font-size: 13px;
        color: var(--textColor);
        font-weight: 500;
        text-align: center;
        margin: auto;
      }
    }

    .mainContent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 2rem 0;
      gap: 1rem;
      .singleDestination {
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
        margin-bottom: 1rem;

        .destImage {
          height: 200px;
          width: 100%;
          position: relative;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .overlayInfo {
            position: absolute;
            display: flex;
            align-items: flex-start;
            padding: 0;
            justify-content: center;
            flex-direction: column;
            background: linear-gradient(
              rgba(0, 0, 0, 0.846),
              rgba(0, 0, 0, 0.759)
            );
            bottom: 0;
            width: 100%;
            height: 0;

            overflow: hidden;

            h3 {
              color: var(--whiteColor);
              font-weight: 600;
            }

            p {
              color: var(--whiteColor);
              opacity: 0.7;
              font-size: 13px;
            }
            .icon {
              position: absolute;
              right: 10px;
              bottom: 10px;
              padding: 0.5rem;
              background: var(--PrimaryColor);
              font-size: 2.5rem;
              border-radius: 50%;
              color: var(--whiteColor);
              border: 1px solid transparent;
              transition: 0.3s ease;

              &:hover {
                background: var(--blackColor);
                border: 1px solid var(--PrimaryColor);
                color: var(--PrimaryColor);
              }
            }
          }
        }

        .destFooter {
          padding: 1rem;

          .number {
            font-size: 2rem;
            font-weight: 700;
            color: var(--blackColor);
            position: relative;
            width: max-content;

            &::after {
              content: "";
              position: absolute;
              background: var(--PrimaryColor);
              top: 45%;
              right: -150%;
              height: 5px;
              width: 45px;
              border-radius: 1rem;
            }
          }
          .destText {
            justify-content: space-between;

            h6 {
              color: var(--blackColor);
              font-size: 15px;
            }
            .flex {
              font-size: 16px;
              font-weight: 600;
              align-items: flex-start;
              transform: translateY(5px);
              display: flex;
              align-items: center;
              justify-content: center;

              .icon {
                color: var(--PrimaryColor);
              }
            }
          }
        }

        &:hover {
          .overlayInfo {
            overflow: visible;
            padding: 1rem 1.5rem;
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .popular {
    .secContainer {
      .mainContent {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .popular {
    .secContainer {
      .mainContent {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .popular {
    .secContainer {
      .mainContent {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (max-width: 468px) {
  .popular {
    padding-top: 20rem;
  }
}
